{% extends "base.html" %}

{%block content%}

{% if username %}


{{ username}}

{{ page_cont.email}}


{%for tex in page_cont reversed%}

<h3 style="color:white;">Имя: {{ tex.name}}</h3>
<h3 style="color:white;">Почта: {{ tex.email}}</h3>
<h3 style="color:white;">Сообщение: {{ tex.message}}</h3>

<hr>

{%endfor%}

{% else %}

<div class="elementor elementor-18">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							
				
				<section data-id="ad1c7b6" class="elementor-element elementor-element-ad1c7b6 elementor-section-height-min-height elementor-section-items-top elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">


					<div id="content" class="site-content">

		<div class="ast-container">

				<div class="elementor elementor-2">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							






				



		<section style="background-color: #242d37; padding-top: 20px;" data-id="b9c0e8e" class="elementor-element elementor-element-b9c0e8e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="0f4e7c4" class="elementor-element elementor-element-0f4e7c4 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="0051c05" class="elementor-element elementor-element-0051c05 elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h1 class="elementor-heading-title elementor-size-default" style="color: white;font-size: 35px;padding-left: 23px;text-shadow: 1px 1px 2px black, 0 0 1em black;">Контактная информация</h1>		</div>

				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>


		<section style="background-color: #242d37;" data-id="a70c503" class="elementor-element elementor-element-a70c503 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="982d551" class="elementor-element elementor-element-982d551 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="16b402d" class="elementor-element elementor-element-16b402d elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div data-id="aaab9c4" class="elementor-element elementor-element-aaab9c4 elementor-view-framed elementor-position-left elementor-shape-circle elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-element_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
					<div class="elementor-icon-box-icon">
				<span style="border-color:white; border: 0px;  " class="elementor-icon elementor-animation-">
				<i style="color:white;font-size: 40px; text-shadow: 1px 1px 2px black, 0 0 1em black;" class="fa fa-map-marker" aria-hidden="true"></i>
				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 style="color: white; font-size: 20px;padding-top: 30px;padding-left: 5px; text-shadow: 1px 1px 2px black, 0 0 1em black; "class="elementor-icon-box-title">
					<span>г. Тюмень, ул. Железнодорожная 45/3</span>
				</h3>
				<p class="elementor-icon-box-description"></p>
			</div>
		</div>
				</div>
				</div>
				<div data-id="81907e3" class="elementor-element elementor-element-81907e3 elementor-view-framed elementor-position-left elementor-shape-circle elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-element_type="icon-box.default">
				<div style="margin-top: -30px;" class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
					<div class="elementor-icon-box-icon">
				<span style="border-color:white; border: 0px;" class="elementor-icon elementor-animation-">
				<i  style="color:white;font-size: 38px; text-shadow: 1px 1px 2px black, 0 0 1em black;" class="fa fa-phone" aria-hidden="true"></i>
				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 style="color: white;" class="elementor-icon-box-title">
					<span><a style="font-size: 20px;padding-left: 5px; text-shadow: 1px 1px 2px black, 0 0 1em black;" class="callibri_phone" href="tel:+79222677282&quot;">+7 (922) 267 72 82</a></span>
				</h3>
				<h3 style="color: white;" class="elementor-icon-box-title">
					<span><a style="font-size: 20px;padding-left: 5px; text-shadow: 1px 1px 2px black, 0 0 1em black;" class="callibri_phone" href="tel:+79224795891&quot;">+7 (922) 479 58 91</a></span>
				</h3>
				
			</div>
		</div>
				</div>
				</div>

				<div data-id="81907e3" class="elementor-element elementor-element-81907e3 elementor-view-framed elementor-position-left elementor-shape-circle elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-element_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
					<div class="elementor-icon-box-icon">
						
				<span style="border-color:white; border: 0px;padding-left: -20px;" class="elementor-icon ">

				<img style="color:white;width: 40px;margin-top: -90px;padding-left: 2px; text-shadow: 1px 1px 2px black, 0 0 1em black;" src="/static/img/email.png" alt="">
				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 style="color: white;font-size: 20px;margin-top: -5px; text-shadow: 1px 1px 2px black, 0 0 1em black;" class="elementor-icon-box-title">
					<span><a class="callibri_phone" href="general-hockey@mail.ru">general-hockey@mail.ru</a></span>
				</h3>
				
			</div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				{%if message_acess %}

					<h1 style="color:white;">{{message_acess}}</h1>
				{%else%}
				<div data-id="272ab0e" class="elementor-element elementor-element-272ab0e elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">\

					<div class="elementor-widget-wrap">
				<div data-id="454c44a" class="elementor-element elementor-element-454c44a elementor-button-align-stretch elementor-widget elementor-widget-form" data-element_type="form.default">
				<div class="elementor-widget-container">
			<form action="/contacts/add_message/" method="post" >

				{% csrf_token %}


			<div style="color: white;" class="elementor-form-fields-wrapper elementor-labels-above">
								<div style="color: white;" style="" class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required">
					<label style="color: white;" for="form-field-name" class="elementor-field-label">Имя</label><input size="1" type="text" name="name"  class="elementor-field elementor-size-sm " placeholder="Введите своё имя" required="required" aria-required="true">				</div>


								<div style="color: white;" style="" class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required">
					<label style="color: white;" for="form-field-name" class="elementor-field-label">Email</label><input size="1" type="text" name="email"  class="elementor-field elementor-size-sm  " placeholder="Введите Email" required="required" aria-required="true">				</div>



								<div style="color: white; padding-bottom: 20px;" class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-100 ">
					<label style="color: white;" for="form-field-email" class="elementor-field-label">Сообщение</label><textarea class=" elementor-field  elementor-size-sm" name="message"  rows="4" placeholder="Напишите обращение" required="required" aria-required="true"></textarea>				</div>








								<div style="color: white;" class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100">
					<button type="submit" class="elementor-button elementor-size-sm">
						<span>
																						<span class="elementor-button-text">Отправить</span>
													</span>
					</button>
			</form>
				</div>


			</div>
						</div>
				</div>
						</div>
					{%endif%}
			</div>
		</div>
						</div>
			</div>
		</section>

		<section style="background-color: #242d37;" data-id="431fd0e" class="elementor-element elementor-element-431fd0e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="4f407af" class="elementor-element elementor-element-4f407af elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="4a7a409" class="elementor-element elementor-element-4a7a409 elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>

		<section style="background-color: #242d37;" data-id="753805c" class="elementor-element elementor-element-753805c elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="ff8a21d" class="elementor-element elementor-element-ff8a21d elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="8dd2ad0" class="elementor-element elementor-element-8dd2ad0 elementor-widget elementor-widget-google_maps" data-element_type="google_maps.default">
				<div class="elementor-widget-container">
			<div class="elementor-custom-embed"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2164.1887815196033!2d65.51034795157531!3d57.150929890668834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43bbe17faccc19c1%3A0x2c66f690138e821b!2z0JbQtdC70LXQt9C90L7QtNC-0YDQvtC20L3QsNGPINGD0LsuLCA0NSwg0KLRjtC80LXQvdGMLCDQotGO0LzQtdC90YHQutCw0Y8g0L7QsdC7LiwgNjI1MDAz!5e0!3m2!1sru!2sru!4v1569574658283!5m2!1sru!2sru" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>



<section style="background-color: #242d37;" data-id="1708ea4" class="elementor-element elementor-element-1708ea4 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="cbdd648" class="elementor-element elementor-element-cbdd648 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="ddcd316" class="elementor-element elementor-element-ddcd316 elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>





				

				
						</div>
			</div>
		</div>
{% endif %}

{% endblock %}