{% extends "base.html" %}

{%block content%}


{% load static %}


	<div  id="content" class="site-content ">

		<div class="ast-container">

				<div class="elementor elementor-18">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							<section style="background-color:#343c44;" data-id="966fbd5" class="elementor-element elementor-element-966fbd5 elementor-section-height-min-height elementor-section-items-bottom elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_top&quot;:&quot;pyramids&quot;,&quot;shape_divider_bottom&quot;:&quot;pyramids&quot;}" data-element_type="section">
					<div style="color:white;" class="elementor-shape elementor-shape-top" data-negative="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
	<path class="elementor-shape-fill" d="M761.9,44.1L643.1,27.2L333.8,98L0,3.8V0l1000,0v3.9"/>
</svg>		</div>
				<div class="elementor-shape elementor-shape-bottom" data-negative="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
	<path class="elementor-shape-fill" d="M761.9,44.1L643.1,27.2L333.8,98L0,3.8V0l1000,0v3.9"/>
</svg>		</div>
					<div  class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="e3cde9c" class="elementor-element elementor-element-e3cde9c elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="d2c55a3" class="elementor-element elementor-element-d2c55a3 elementor-skin-carousel elementor-arrows-yes elementor-pagination-type-bullets elementor-pagination-position-outside elementor-widget elementor-widget-media-carousel" data-settings="{&quot;slides_per_view&quot;:&quot;1&quot;,&quot;slides_per_view_tablet&quot;:&quot;1&quot;,&quot;skin&quot;:&quot;carousel&quot;,&quot;effect&quot;:&quot;slide&quot;,&quot;show_arrows&quot;:&quot;yes&quot;,&quot;pagination&quot;:&quot;bullets&quot;,&quot;speed&quot;:500,&quot;autoplay&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;loop&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;space_between&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10},&quot;space_between_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10},&quot;space_between_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10}}" data-element_type="media-carousel.default">
				<div class="elementor-widget-container">
					<div class="elementor-swiper">
			<div class="elementor-main-swiper swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">

							<a href="/">		<div class="elementor-carousel-image" style="background-image: url(static/slaid3-test.jpg)">
					</div>
		</a>			

					</div>
											<div class="swiper-slide">

							<a href="/">		<div class="elementor-carousel-image" style="background-image: url(static/slaid5-test.jpg)">
					</div>
		</a>			

					</div>
											<div class="swiper-slide">
							<a href="/">		<div class="elementor-carousel-image" style="background-image: url(static/slaid2-test.jpg)">
					</div>
		</a>						</div>
									</div>
															<div class="swiper-pagination"></div>
																<div class="elementor-swiper-button elementor-swiper-button-prev">
							<i class="eicon-chevron-left"></i>
						</div>
						<div class="elementor-swiper-button elementor-swiper-button-next">
							<i class="eicon-chevron-right"></i>
						</div>
												</div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>







				





				<section data-id="b33d351" class="elementor-element elementor-element-b33d351 elementor-section-height-min-height elementor-section-items-bottom elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="cfb723b" class="elementor-element elementor-element-cfb723b elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="a4297a0" class="elementor-element elementor-element-a4297a0 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				<div class="elementor-widget-container">
					<div class="elementor-wrapper elementor-fit-aspect-ratio elementor-open-inline">
			<div class="ast-oembed-container"><iframe class="elementor-video-iframe" allowfullscreen src="https://www.youtube.com/embed/8pLU3mA_r0g?feature=oembed&amp;start&amp;end&amp;wmode=opaque&amp;loop=0&amp;controls=1&amp;mute=0&amp;showinfo=1&amp;rel=0&amp;modestbranding=0"></iframe></div>		</div>
				</div>
				</div>

				
						</div>
			</div>
		</div>
				<div data-id="0f0f93c" class="elementor-element elementor-element-0f0f93c elementor-column elementor-col-66 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="e80dafe" class="elementor-element elementor-element-e80dafe elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p><h4 style="color:white;">«Генерал-хоккей» российский производитель хоккейных беговых
дорожек.</h4> <p> Мы изготавливаем наилучшую систему для отработки техники катания вне ледовой
площадки - это установка для тренировки хоккеистов любого уровня подготовки от начинающих
до профессионалов. Наши тренажеры проверены профессиональными хоккеистами
выступающими в ВХЛ и КХЛ.Тренажеры производятся в соответствии с мировыми стандартами
качества.Хоккейная беговая дорожка «Генерал-Хоккей» – это тренировочный инструмент,
который имитирует катание на льду.Представляет собой двигающийся конвейер, с
изменяющимся углом наклона, покрытый планками синтетического льда.</p></p></div>
				</div>
				</div>
				<div data-id="182edd7" class="elementor-element elementor-element-182edd7 elementor-align-left elementor-widget elementor-widget-button" data-element_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
		

		<section data-id="b33d351" class="elementor-element elementor-element-b33d351 elementor-section-height-min-height elementor-section-items-bottom elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="cfb723b" class="elementor-element elementor-element-cfb723b elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div  class="elementor-widget-wrap">
				<div  data-id="a4297a0" class="elementor-row elementor-element elementor-element-a4297a0 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				
				<iframe style=" width: 50%; height: 250px;padding-right: 5px;" class="elementor-video-iframe" allowfullscreen src="https://www.youtube.com/embed/Bvf0xbrIHSU?feature=oembed&amp;start&amp;end&amp;wmode=opaque&amp;loop=0&amp;controls=1&amp;mute=0&amp;showinfo=1&amp;rel=0&amp;modestbranding=0"></iframe>
				<iframe style=" width: 50%; height: 250px;" class="elementor-video-iframe" allowfullscreen src="https://www.youtube.com/embed/XTMERZgixXw?feature=oembed&amp;start&amp;end&amp;wmode=opaque&amp;loop=0&amp;controls=1&amp;mute=0&amp;showinfo=1&amp;rel=0&amp;modestbranding=0"></iframe>
				</div>


				
						</div>
			</div>
		</div>
				<div data-id="0f0f93c" class="elementor-element elementor-element-0f0f93c elementor-column elementor-col-66 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="e80dafe" class="elementor-element elementor-element-e80dafe elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">

					<div class="elementor-text-editor elementor-clearfix">
					<h4 style="color:white;">Предназначение хоккейной дорожки:</h4><p></p>
							<div style="margin-left: -32px;">
							<ul>
							<li>Развитие скорости катания на коньках и повышение выносливости.</li>
							<li>Отработка мощного толчка и укрепление мышщ ног.</li>
							<li>Постановка правильной посадки на коньках.</li>
							<li>Улучшение техники катания на коньках.</li>
							<li>Ускорение набора физических кондиций травмированных игроков.</li>
							</ul>
							</div>	
						
				</div>
				</div>
				</div>
				<div data-id="182edd7" class="elementor-element elementor-element-182edd7 elementor-align-left elementor-widget elementor-widget-button" data-element_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>




		<section data-id="b33d351" class="elementor-element elementor-element-b33d351 elementor-section-height-min-height elementor-section-items-bottom elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="cfb723b" class="elementor-element elementor-element-cfb723b elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="a4297a0" class="elementor-element elementor-element-a4297a0 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				<div class="elementor-widget-container">
					<div class="elementor-wrapper elementor-fit-aspect-ratio elementor-open-inline">
			<div class="ast-oembed-container"><iframe class="elementor-video-iframe" allowfullscreen src="https://www.youtube.com/embed/_13SoiGQy24?feature=oembed&amp;start&amp;end&amp;wmode=opaque&amp;loop=0&amp;controls=1&amp;mute=0&amp;showinfo=1&amp;rel=0&amp;modestbranding=0"></iframe></div>		</div>
				</div>
				</div>

				
						</div>
			</div>
		</div>
				<div data-id="0f0f93c" class="elementor-element elementor-element-0f0f93c elementor-column elementor-col-66 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="e80dafe" class="elementor-element elementor-element-e80dafe elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p><h4 style="color:white;">Преимущества:</h4></p> 
						<div style="margin-left: -32px;">	
						<ul>
						<li>Самая выгодная цена в мире.</li>
						<li>Монтаж тренажера бесплатный в любой точке РФ.</li>
						<li>Рекомендации по тренировочному процессу от тренеров использующих тренажер более 3-х лет.</li>
						<li>Кратчайшие сроки поставки, наличие тренажеров на складе.</li>
						<li>В тестировании тренажера принимали участие действующие тренера и игроки ВХЛ и КХЛ, рекомендации которых сделали оборудование наиболее эффективным для подготовки хоккеистов.</li>
						</ul>
						</div>	
						<p>

					
					</p></div>
				</div>
				</div>
				<div data-id="182edd7" class="elementor-element elementor-element-182edd7 elementor-align-left elementor-widget elementor-widget-button" data-element_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>





		<section data-id="1da06ef" class="elementor-element elementor-element-1da06ef elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
					<div class="elementor-widget-container">
			<h1 class="elementor-heading-title elementor-size-default" style="color: white; text-align: center; font-size: 30px;">Реализованные проекты</h1>		<p></p></div>

			<div class="elementor-container elementor-column-gap-default">


				<div class="elementor-row">
				<div data-id="296352a" class="elementor-element elementor-element-296352a elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">

						<div  data-id="a4297a0" class="elementor-row elementor-element elementor-element-a4297a0 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				
				<iframe style=" width: 33%; height: 250px;padding-right: 5px;" class="elementor-video-iframe" allowfullscreen src="https://www.youtube.com/embed/xQvjSzjEjyI?feature=oembed&amp;start&amp;end&amp;wmode=opaque&amp;loop=0&amp;controls=1&amp;mute=0&amp;showinfo=1&amp;rel=0&amp;modestbranding=0"></iframe>
				<iframe style=" width: 33%; height: 250px; padding-right:5px;" class="elementor-video-iframe" allowfullscreen src="https://www.youtube.com/embed/nM5AFI-JNew?feature=oembed&amp;start&amp;end&amp;wmode=opaque&amp;loop=0&amp;controls=1&amp;mute=0&amp;showinfo=1&amp;rel=0&amp;modestbranding=0"></iframe>
				<iframe style=" width: 33%; height: 250px;" class="elementor-video-iframe" allowfullscreen src="https://www.youtube.com/embed/k9M9OcnK2hg?feature=oembed&amp;start&amp;end&amp;wmode=opaque&amp;loop=0&amp;controls=1&amp;mute=0&amp;showinfo=1&amp;rel=0&amp;modestbranding=0"></iframe>
				</div>
				
				<div data-id="ab8460b" class="elementor-element elementor-element-ab8460b elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>


			<div class="elementor-container elementor-column-gap-default">


				<div class="elementor-row">
				<div data-id="296352a" class="elementor-element elementor-element-296352a elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">

						<div  data-id="a4297a0" class="elementor-row elementor-element elementor-element-a4297a0 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				
				<iframe style=" width: 33%; height: 250px;padding-right: 5px;" class="elementor-video-iframe" allowfullscreen src="https://www.youtube.com/embed/DFehnD3gPsI?feature=oembed&amp;start&amp;end&amp;wmode=opaque&amp;loop=0&amp;controls=1&amp;mute=0&amp;showinfo=1&amp;rel=0&amp;modestbranding=0"></iframe>
				<iframe style=" width: 33%; height: 250px; padding-right:5px;" class="elementor-video-iframe" allowfullscreen src="https://www.youtube.com/embed/V4JgwmiLnJM?feature=oembed&amp;start&amp;end&amp;wmode=opaque&amp;loop=0&amp;controls=1&amp;mute=0&amp;showinfo=1&amp;rel=0&amp;modestbranding=0"></iframe>
				<iframe style=" width: 33%; height: 250px;" class="elementor-video-iframe" allowfullscreen src="https://www.youtube.com/embed/WP1Imrpv-cc?feature=oembed&amp;start&amp;end&amp;wmode=opaque&amp;loop=0&amp;controls=1&amp;mute=0&amp;showinfo=1&amp;rel=0&amp;modestbranding=0"></iframe>
				</div>
				
				<div data-id="ab8460b" class="elementor-element elementor-element-ab8460b elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
			

				





			
			

						<div class="elementor-container elementor-column-gap-default">


				<div class="elementor-row">
				<div data-id="296352a" class="elementor-element elementor-element-296352a elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="cbb1dca" class="elementor-element elementor-element-cbb1dca elementor-widget elementor-widget-google_maps" data-element_type="google_maps.default">
					

				<div class="elementor-widget-container">
			<div class="elementor-custom-embed"><div  class="elementor-widget-wrap">
				
				


				
						</div>
</div>		</div>
				</div>
				<div data-id="ab8460b" class="elementor-element elementor-element-ab8460b elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>







			

					

					
				<section style="background-color:#343c44;" data-id="966fbd5" class="elementor-element elementor-element-966fbd5 elementor-section-height-min-height elementor-section-items-bottom elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_top&quot;:&quot;pyramids&quot;,&quot;shape_divider_bottom&quot;:&quot;pyramids&quot;}" data-element_type="section">
					<div style="color:white;" class="elementor-shape elementor-shape-top" data-negative="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
	<path class="elementor-shape-fill" d="M761.9,44.1L643.1,27.2L333.8,98L0,3.8V0l1000,0v3.9"/>
</svg>		</div>
				<div class="elementor-shape elementor-shape-bottom" data-negative="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
	<path class="elementor-shape-fill" d="M761.9,44.1L643.1,27.2L333.8,98L0,3.8V0l1000,0v3.9"/>
</svg>		</div>
					<div  class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="e3cde9c" class="elementor-element elementor-element-e3cde9c elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="d2c55a3" class="elementor-element elementor-element-d2c55a3 elementor-skin-carousel elementor-arrows-yes elementor-pagination-type-bullets elementor-pagination-position-outside elementor-widget elementor-widget-media-carousel" data-settings="{&quot;slides_per_view&quot;:&quot;1&quot;,&quot;slides_per_view_tablet&quot;:&quot;1&quot;,&quot;skin&quot;:&quot;carousel&quot;,&quot;effect&quot;:&quot;slide&quot;,&quot;show_arrows&quot;:&quot;yes&quot;,&quot;pagination&quot;:&quot;bullets&quot;,&quot;speed&quot;:500,&quot;autoplay&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;loop&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;space_between&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10},&quot;space_between_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10},&quot;space_between_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10}}" data-element_type="media-carousel.default">
				<div class="elementor-widget-container">
					<div class="elementor-swiper">
			<div class="elementor-main-swiper swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">

							<a href="/">		<h1 style="color: white;text-align: center;">asdasdasdasdasd</h1>
		</a>			

					</div>
											<div class="swiper-slide">

							<a href="/">		<h1 style="color: white; text-align: center;">asdasdasdasdasd</h1>
		</a>			

					</div>
											<div class="swiper-slide">
							<a href="/"> <h1 style="color: white; text-align: center; font-size: 20px;">	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis nihil provident, voluptas suscipit repellat nostrum repudiandae saepe corporis ullam consectetur quo numquam excepturi esse rerum, vero dignissimos quasi maxime asperiores fugit iste a rem repellendus incidunt quod! A molestiae mollitia voluptatum distinctio nemo, suscipit esse consequuntur? Quia quod tenetur a minima quisquam voluptatibus praesentium accusantium, ipsam, magnam nisi officiis sequi aperiam! Quibusdam consequuntur nam quod sint illo odio doloremque, alias eum. Impedit reiciendis molestias enim minima eum veritatis, eos eius. Quaerat necessitatibus, delectus tenetur numquam sunt eveniet, placeat sit. Nesciunt omnis nisi, suscipit exercitationem aspernatur laboriosam consequuntur ratione adipisci minima!</h1>		
		</a>						</div>
									</div>
															<div class="swiper-pagination"></div>
																<div class="elementor-swiper-button elementor-swiper-button-prev">
							<i class="eicon-chevron-left"></i>
						</div>
						<div class="elementor-swiper-button elementor-swiper-button-next">
							<i class="eicon-chevron-right"></i>
						</div>
												</div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>











					
				


				<section data-id="1da06ef" class="elementor-element elementor-element-1da06ef elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="296352a" class="elementor-element elementor-element-296352a elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="cbb1dca" class="elementor-element elementor-element-cbb1dca elementor-widget elementor-widget-google_maps" data-element_type="google_maps.default">
				<div class="elementor-widget-container">
			<div class="elementor-custom-embed"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2164.1887815196033!2d65.51034795157531!3d57.150929890668834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43bbe17faccc19c1%3A0x2c66f690138e821b!2z0JbQtdC70LXQt9C90L7QtNC-0YDQvtC20L3QsNGPINGD0LsuLCA0NSwg0KLRjtC80LXQvdGMLCDQotGO0LzQtdC90YHQutCw0Y8g0L7QsdC7LiwgNjI1MDAz!5e0!3m2!1sru!2sru!4v1569574658283!5m2!1sru!2sru" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>		</div>
				</div>
				<div data-id="ab8460b" class="elementor-element elementor-element-ab8460b elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>

			</div> <!-- ast-container -->

		</div><!-- #content -->



{% endblock %}