{% extends "base.html" %}

{%block content%}

<div class="elementor elementor-18">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							
				
				<section data-id="ad1c7b6" class="elementor-element elementor-element-ad1c7b6 elementor-section-height-min-height elementor-section-items-top elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">


					<div id="content" class="site-content">

		<div class="ast-container">

				<div class="elementor elementor-2">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							<section data-id="f5cecb7" class="elementor-element elementor-element-f5cecb7 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="77b6781" class="elementor-element elementor-element-77b6781 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="bbba896" class="elementor-element elementor-element-bbba896 elementor-widget elementor-widget-global elementor-global-222 elementor-widget-breadcrumbs" data-element_type="breadcrumbs.default">
				<div class="elementor-widget-container">
			<p id="breadcrumbs"><span><span><a href="/">Главная страница</a> » <span class="breadcrumb_last">Новости</span></span></span></p>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section data-id="e7bf1a6" class="elementor-element elementor-element-e7bf1a6 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="062118e" class="elementor-element elementor-element-062118e elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="c5a8edf" class="elementor-element elementor-element-c5a8edf elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h1 style="color:black;" class="elementor-heading-title elementor-size-default color_text">Новости</h1>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				

			<div class="entry-content clear" itemprop="text">

		
				<div class="elementor elementor-393">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							
				

				
<section data-id="e6cbc30" class="elementor-element elementor-element-e6cbc30 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row" >
				<div data-id="42cc09b" class="elementor-element elementor-element-42cc09b elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap" >
				<div data-id="c8c6bac" class="elementor-element elementor-element-c8c6bac elementor-grid-3 elementor-grid-tablet-2 elementor-grid-mobile-1 elementor-posts--thumbnail-top elementor-card-shadow-yes elementor-posts__hover-gradient elementor-widget elementor-widget-posts" data-settings="{&quot;cards_columns&quot;:&quot;3&quot;,&quot;cards_columns_tablet&quot;:&quot;2&quot;,&quot;cards_columns_mobile&quot;:&quot;1&quot;,&quot;cards_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:35}}" data-element_type="posts.cards">
				<div class="elementor-widget-container" style="padding:100px;" >
					<div class="elementor-posts-container elementor-posts elementor-grid elementor-posts--skin-cards elementor-has-item-ratio">
				<article  style="padding:5px;" class="elementor-post elementor-grid-item post-286 post type-post status-publish format-aside has-post-thumbnail hentry category-novosti post_format-post-format-aside">
			<div class="elementor-post__card" >
				<a class="elementor-post__thumbnail__link" href="/">
			<div class="elementor-post__thumbnail"><img width="300" height="223" src="/static/img/IMG-20190908-WA0020.jpg" class="attachment-medium size-medium" alt=""></div>
		</a>
				<div class="elementor-post__badge">Новости</div>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="https://nhcenter.ru/wattbike-teper-v-nhc/">
				Новости		</a>
		</h3>
				<div class="elementor-post__excerpt">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium rem, pariatur soluta dolores eum, eveniet praesentium sint corporis vel! Porro recusandae odio est minima, eius ea. Eligendi, quo inventore quasi.</p>
		</div>
					<a class="elementor-post__read-more" href="https://nhcenter.ru/wattbike-teper-v-nhc/">
				Подробнее			</a>
				</div>
				<div class="elementor-post__meta-data">
					<span class="elementor-post-date">
			Сентябрь 11, 2018		</span>
				</div>
					</div>
		</article>
				<article  style="padding:5px;" class="elementor-post elementor-grid-item post-282 post type-post status-publish format-aside has-post-thumbnail hentry category-akcii post_format-post-format-aside">
			<div class="elementor-post__card">
				<a class="elementor-post__thumbnail__link" href="">
			<div class="elementor-post__thumbnail elementor-fit-height"><img width="300" height="181" src="/static/img/IMG-20190908-WA0041.jpg" class="attachment-medium size-medium" ></div>
		</a>
				<div class="elementor-post__badge">Акции</div>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="https://nhcenter.ru/noch-v-muzee/">
				Соревнования			</a>
		</h3>
				<div class="elementor-post__excerpt">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ad, voluptatum perferendis eligendi enim veritatis facere eius, mollitia, ex earum consequuntur assumenda similique aperiam tempore. At quasi necessitatibus, obcaecati dolor.</p>
		</div>
					<a class="elementor-post__read-more" href="\">
				Подробнее			</a>
				</div>
				<div class="elementor-post__meta-data">
					<span class="elementor-post-date">
			Сентябрь 11, 2018		</span>
				</div>
					</div>
		</article>

		
				<article  style="padding:5px;" class="elementor-post elementor-grid-item post-282 post type-post status-publish format-aside has-post-thumbnail hentry category-akcii post_format-post-format-aside">
			<div class="elementor-post__card">
				<a class="elementor-post__thumbnail__link" href="">
			<div class="elementor-post__thumbnail elementor-fit-height"><img width="300" height="181" src="/static/img/IMG-20190908-WA0041.jpg" class="attachment-medium size-medium" ></div>
		</a>
				<div class="elementor-post__badge">Акции</div>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="https://nhcenter.ru/noch-v-muzee/">
				Соревнования			</a>
		</h3>
				<div class="elementor-post__excerpt">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ad, voluptatum perferendis eligendi enim veritatis facere eius, mollitia, ex earum consequuntur assumenda similique aperiam tempore. At quasi necessitatibus, obcaecati dolor.</p>
		</div>
					<a class="elementor-post__read-more" href="\">
				Подробнее			</a>
				</div>
				<div class="elementor-post__meta-data">
					<span class="elementor-post-date">
			Сентябрь 11, 2018		</span>
				</div>
					</div>
		</article>

		<article  style="padding:5px;" class="elementor-post elementor-grid-item post-282 post type-post status-publish format-aside has-post-thumbnail hentry category-akcii post_format-post-format-aside">
			<div class="elementor-post__card">
				<a class="elementor-post__thumbnail__link" href="">
			<div class="elementor-post__thumbnail elementor-fit-height"><img width="300" height="181" src="/static/img/IMG-20190908-WA0041.jpg" class="attachment-medium size-medium" ></div>
		</a>
				<div class="elementor-post__badge">Акции</div>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="https://nhcenter.ru/noch-v-muzee/">
				Соревнования			</a>
		</h3>
				<div class="elementor-post__excerpt">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ad, voluptatum perferendis eligendi enim veritatis facere eius, mollitia, ex earum consequuntur assumenda similique aperiam tempore. At quasi necessitatibus, obcaecati dolor.</p>
		</div>
					<a class="elementor-post__read-more" href="\">
				Подробнее			</a>
				</div>
				<div class="elementor-post__meta-data">
					<span class="elementor-post-date">
			Сентябрь 11, 2018		</span>
				</div>
					</div>
		</article>

		<article  style="padding:5px;" class="elementor-post elementor-grid-item post-282 post type-post status-publish format-aside has-post-thumbnail hentry category-akcii post_format-post-format-aside">
			<div class="elementor-post__card">
				<a class="elementor-post__thumbnail__link" href="">
			<div class="elementor-post__thumbnail elementor-fit-height"><img width="300" height="181" src="/static/img/IMG-20190908-WA0041.jpg" class="attachment-medium size-medium" ></div>
		</a>
				<div class="elementor-post__badge">Акции</div>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="https://nhcenter.ru/noch-v-muzee/">
				Соревнования			</a>
		</h3>
				<div class="elementor-post__excerpt">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ad, voluptatum perferendis eligendi enim veritatis facere eius, mollitia, ex earum consequuntur assumenda similique aperiam tempore. At quasi necessitatibus, obcaecati dolor.</p>
		</div>
					<a class="elementor-post__read-more" href="\">
				Подробнее			</a>
				</div>
				<div class="elementor-post__meta-data">
					<span class="elementor-post-date">
			Сентябрь 11, 2018		</span>
				</div>
					</div>
		</article>


		
				</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>











				
				
						</div>
			</div>
		</div>
		
		
		
	</div>












				
				<section data-id="2e23e7b" class="elementor-element elementor-element-2e23e7b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="b9a7c31" class="elementor-element elementor-element-b9a7c31 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="29c7a2c" class="elementor-element elementor-element-29c7a2c elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
					
			</div> <!-- ast-container -->

		</div>




						
		</section>

				
						</div>
			</div>
		</div>

{% endblock %}