{% extends "base.html" %}

{%block content%}
<section style="padding-top: 30px;" data-id="2e23e7b" class="elementor-element elementor-element-2e23e7b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">


						<div class="elementor-container elementor-column-gap-default">

				

				<div class="elementor-row">
					
				<div data-id="b9a7c31" class="elementor-element elementor-element-b9a7c31 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">


			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="29c7a2c" class="elementor-element elementor-element-29c7a2c elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>

		</div>
						</div>
			</div>
		</section>














		<section id="vorota" data-id="b33d351" class="elementor-element elementor-element-b33d351 elementor-section-height-min-height elementor-section-items-bottom elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">

						<div class="elementor-container elementor-column-gap-default">

				<div class="elementor-row">
				<div data-id="cfb723b" class="elementor-element elementor-element-cfb723b elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="a4297a0" class="elementor-element elementor-element-a4297a0 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				<div class="elementor-widget-container">
					<div class="fotorama razmer"
     data-nav="thumbs" data-allowfullscreen="true">


	
	<a href="/static/img/vorota/IMG-20190908-WA0020.jpg"><img src="/static/img/vorota/IMG-20190908-WA0020.jpg" width="144" height="96"></a>
	
	<a href="/static/img/vorota/IMG-20190908-WA0019.jpg"><img src="/static/img/vorota/IMG-20190908-WA0019.jpg" width="144" height="96"></a>
	
 
</div>


				</div>
				</div>

				
						</div>
			</div>
		</div>
				<div data-id="0f0f93c" class="elementor-element elementor-element-0f0f93c elementor-column elementor-col-66 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="e80dafe" class="elementor-element elementor-element-e80dafe elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">

			<div style="margin-bottom:205px;"  class="elementor-widget-container text_treni">


			<h1 style="color: white; font-size: 20px; " class="elementor-heading-title elementor-size-default">Ворота</h1>		<p></p><p style="color: white;">Ворота хоккейные размер 183×122. Цена 12900</p></div>



					<div class="elementor-text-editor elementor-clearfix"></div>
				</div>
				</div>
				<div data-id="182edd7" class="elementor-element elementor-element-182edd7 elementor-align-left elementor-widget elementor-widget-button" data-element_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">

			
		</div>

				</div>
				<hr style="margin-bottom: 5px;">

				</div>

						</div>

			</div>

		</div>

						</div>
			</div>
			

		</section>


<section style="padding-top: 30px;" data-id="2e23e7b" class="elementor-element elementor-element-2e23e7b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">


						<div class="elementor-container elementor-column-gap-default">

				

				<div class="elementor-row">
					
				<div data-id="b9a7c31" class="elementor-element elementor-element-b9a7c31 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">


			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="29c7a2c" class="elementor-element elementor-element-29c7a2c elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>

		</div>
						</div>
			</div>
		</section>

		



<section id="minivorota" data-id="b33d351" class="elementor-element elementor-element-b33d351 elementor-section-height-min-height elementor-section-items-bottom elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">

						<div class="elementor-container elementor-column-gap-default">

				<div class="elementor-row">
				<div data-id="cfb723b" class="elementor-element elementor-element-cfb723b elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="a4297a0" class="elementor-element elementor-element-a4297a0 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				<div class="elementor-widget-container">
					<div class="fotorama razmer"
     data-nav="thumbs" data-allowfullscreen="true">

 
  <a href="/static/img/vorota/IMG-20190908-WA0022.jpg"><img src="/static/img/vorota/IMG-20190908-WA0022.jpg" width="144" height="96"></a>
  <a href="/static/img/vorota/IMG-20190908-WA0021.jpg"><img src="/static/img/vorota/IMG-20190908-WA0021.jpg" width="144" height="96"></a>
  <a href="/static/img/vorota/IMG-20190908-WA0021.jpg"><img src="/static/img/vorota/IMG-20190908-WA0021.jpg" width="144" height="96"></a>	
  
</div>
				</div>
				</div>

				
						</div>
			</div>
		</div>
				<div data-id="0f0f93c" class="elementor-element elementor-element-0f0f93c elementor-column elementor-col-66 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="e80dafe" class="elementor-element elementor-element-e80dafe elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">

			<div style="margin-bottom: 250px;"  class="elementor-widget-container">
			<h1 style="color: white; font-size: 20px;" class="elementor-heading-title elementor-size-default">Мини ворота 60×30×50. Цена</h1>		<p></p><p style="color: white;"></p></div>
					<div class="elementor-text-editor elementor-clearfix"></div>
				</div>
				</div>
				<div data-id="182edd7" class="elementor-element elementor-element-182edd7 elementor-align-left elementor-widget elementor-widget-button" data-element_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			
		</div>
				</div>
				<hr style="margin-bottom: 5px;">
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>




<section style="padding-top: 30px;" data-id="2e23e7b" class="elementor-element elementor-element-2e23e7b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">


						<div class="elementor-container elementor-column-gap-default">

				

				<div class="elementor-row">
					
				<div data-id="b9a7c31" class="elementor-element elementor-element-b9a7c31 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">


			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="29c7a2c" class="elementor-element elementor-element-29c7a2c elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>

		</div>
						</div>
			</div>
		</section>


<section id="tumba" data-id="b33d351" class="elementor-element elementor-element-b33d351 elementor-section-height-min-height elementor-section-items-bottom elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">

						<div class="elementor-container elementor-column-gap-default">

				<div class="elementor-row">
				<div data-id="cfb723b" class="elementor-element elementor-element-cfb723b elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="a4297a0" class="elementor-element elementor-element-a4297a0 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				<div class="elementor-widget-container">
					<div class="fotorama razmer"
     data-nav="thumbs" data-allowfullscreen="true">

  <a href="/static/img/tumba/IMG_0102.JPG"><img src="/static/img/tumba/IMG_0102.JPG" width="144" height="96"></a>
  <a href="/static/img/tumba/IMG_0103.JPG"><img src="/static/img/tumba/IMG_0103.JPG" width="144" height="96"></a>
  <a href="/static/img/tumba/IMG_0105.JPG"><img src="/static/img/tumba/IMG_0105.JPG" width="144" height="96"></a>
  <a href="/static/img/tumba/IMG_0106(1).JPG"><img src="/static/img/tumba/IMG_0106(1).JPG" width="144" height="96"></a>
  <a href="/static/img/tumba/IMG-20190908-WA0023.jpg"><img src="/static/img/tumba/IMG-20190908-WA0023.jpg" width="144" height="96"></a>

  
  



</div>
				</div>
				</div>

				
						</div>
			</div>
		</div>
				<div data-id="0f0f93c" class="elementor-element elementor-element-0f0f93c elementor-column elementor-col-66 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="e80dafe" class="elementor-element elementor-element-e80dafe elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">

			<div style="margin-bottom: 178px;"  class="elementor-widget-container">
			<h1 style="color: white; font-size: 20px;" class="elementor-heading-title elementor-size-default">Тумба прыжковая 3 шт</h1>		<p></p><p style="color: white;">Предназначена для различных упражнений на укрепление
мышц и развитие скоростно-силовых качеств хоккеиста. Цена 10900 руб</p></div>
					<div class="elementor-text-editor elementor-clearfix"></div>
				</div>
				</div>
				<div data-id="182edd7" class="elementor-element elementor-element-182edd7 elementor-align-left elementor-widget elementor-widget-button" data-element_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			
		</div>
				</div>
				<hr style="margin-bottom: 5px;">
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>




<section  style="padding-top: 30px;" data-id="2e23e7b" class="elementor-element elementor-element-2e23e7b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">


						<div class="elementor-container elementor-column-gap-default">

				

				<div class="elementor-row">
					
				<div data-id="b9a7c31" class="elementor-element elementor-element-b9a7c31 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">


			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="29c7a2c" class="elementor-element elementor-element-29c7a2c elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>

		</div>
						</div>
			</div>
		</section>


<section id="duga" data-id="b33d351" class="elementor-element elementor-element-b33d351 elementor-section-height-min-height elementor-section-items-bottom elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">

						<div class="elementor-container elementor-column-gap-default">

				<div class="elementor-row">
				<div data-id="cfb723b" class="elementor-element elementor-element-cfb723b elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="a4297a0" class="elementor-element elementor-element-a4297a0 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				<div class="elementor-widget-container">
					<div class="fotorama razmer"
     data-nav="thumbs" data-allowfullscreen="true">

  <a href="/static/img/duga/IMG-20190908-WA0028.jpg"><img src="/static/duga/IMG-20190908-WA0028.jpg" width="144" height="96"></a>

  
  


	
</div>
				</div>
				</div>

				
						</div>
			</div>
		</div>
				<div data-id="0f0f93c" class="elementor-element elementor-element-0f0f93c elementor-column elementor-col-66 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="e80dafe" class="elementor-element elementor-element-e80dafe elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">

			<div style="margin-bottom: 178px;"  class="elementor-widget-container">
			<h1 style="color: white; font-size: 20px;" class="elementor-heading-title elementor-size-default">Дуга для дриблинга</h1>		<p></p><p style="color: white;">Предназначена для отработки техники владения клюшкой и
шайбой. Цена 1900 руб.</p></div>
					<div class="elementor-text-editor elementor-clearfix"></div>
				</div>
				</div>
				<div data-id="182edd7" class="elementor-element elementor-element-182edd7 elementor-align-left elementor-widget elementor-widget-button" data-element_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			
		</div>
				</div>
				<hr style="margin-bottom: 5px;">
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>





<section style="padding-top: 30px;" data-id="2e23e7b" class="elementor-element elementor-element-2e23e7b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">


						<div class="elementor-container elementor-column-gap-default">

				

				<div class="elementor-row">
					
				<div data-id="b9a7c31" class="elementor-element elementor-element-b9a7c31 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">


			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="29c7a2c" class="elementor-element elementor-element-29c7a2c elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>

		</div>
						</div>
			</div>
		</section>




<section id="sopernik" data-id="b33d351" class="elementor-element elementor-element-b33d351 elementor-section-height-min-height elementor-section-items-bottom elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">

						<div class="elementor-container elementor-column-gap-default">

				<div class="elementor-row">
				<div data-id="cfb723b" class="elementor-element elementor-element-cfb723b elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="a4297a0" class="elementor-element elementor-element-a4297a0 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				<div class="elementor-widget-container">
					<div class="fotorama razmer"
     data-nav="thumbs" data-allowfullscreen="true">

  <a href="/static/img/sopernik/IMG-20190908-WA0026.jpg"><img src="/static/sopernik/IMG-20190908-WA0026.jpg" width="144" height="96"></a>
  <a href="/static/img/sopernik/IMG-20190908-WA0027.jpg"><img src="/static/sopernik/IMG-20190908-WA0027.jpg" width="144" height="96"></a>
  <a href="/static/img/sopernik/IMG-20190908-WA0028.jpg"><img src="/static/sopernik/IMG-20190908-WA0028.jpg" width="144" height="96"></a>
  

  
  


	
</div>
				</div>
				</div>

				
						</div>
			</div>
		</div>
				<div data-id="0f0f93c" class="elementor-element elementor-element-0f0f93c elementor-column elementor-col-66 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="e80dafe" class="elementor-element elementor-element-e80dafe elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">

			<div style="margin-bottom: 210px;"  class="elementor-widget-container">
			<h1 style="color: white; font-size: 20px;" class="elementor-heading-title elementor-size-default">Имитатор соперника.</h1>		<p></p><p style="color: white;"> Металическая конструкция имитирует соперника и способствует
улучшению навыков обводки. Цена 2900 руб.</p></div>
					<div class="elementor-text-editor elementor-clearfix"></div>
				</div>
				</div>
				<div data-id="182edd7" class="elementor-element elementor-element-182edd7 elementor-align-left elementor-widget elementor-widget-button" data-element_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			
		</div>
				</div>
				
								</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>








{% endblock %}