
{% extends "base.html" %}

{%block content%}



		<section style="padding-top: 30px;" data-id="2e23e7b" class="elementor-element elementor-element-2e23e7b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">


						<div class="elementor-container elementor-column-gap-default">

				

				<div class="elementor-row">
					
				<div data-id="b9a7c31" class="elementor-element elementor-element-b9a7c31 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">


			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="29c7a2c" class="elementor-element elementor-element-29c7a2c elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>

		</div>
						</div>
			</div>
		</section>














		<section data-id="b33d351" class="elementor-element elementor-element-b33d351 elementor-section-height-min-height elementor-section-items-bottom elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">

						<div class="elementor-container elementor-column-gap-default">

				<div class="elementor-row">
				<div data-id="cfb723b" class="elementor-element elementor-element-cfb723b elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="a4297a0" class="elementor-element elementor-element-a4297a0 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				<div class="elementor-widget-container">
					<div class="fotorama razmer"
     data-nav="thumbs" data-allowfullscreen="true">


  <a href="/static/img/sbori/IMG-20190903-WA0022.jpg"><img src="/static/img/sbori/IMG-20190903-WA0022.jpg" width="144" height="96"></a>
  <a href="/static/img/sbori/IMG-20190903-WA0007.jpgg"><img src="/static/img/sbori/IMG-20190903-WA0007.jpg" width="144" height="96"></a>

  <a href="/static/img/sbori/IMG-20190903-WA0048.jpg"><img src="/static/img/sbori/IMG-20190903-WA0048.jpg" width="144" height="96"></a>
  <a href="/static/img/sbori/IMG-20190903-WA0033.jpg"><img src="/static/img/sbori/IMG-20190903-WA0033.jpg" width="144" height="96"></a>
  <a href="/static/img/sbori/IMG-20190903-WA0018.jpg"><img src="/static/img/sbori/IMG-20190903-WA0018.jpg" width="144" height="96"></a>
  <a href="/static/img/sbori/IMG-20190903-WA0044.jpg"><img src="/static/img/sbori/IMG-20190903-WA0044.jpg" width="144" height="96"></a>

  <a href="/static/img/sbori/fotka1.jpg"><img src="/static/img/sbori/fotka1.jpg" width="144" height="96"></a>
  <a href="/static/img/sbori/fotka2.jpg"><img src="/static/img/sbori/fotka2.jpg" width="144" height="96"></a>
  <a href="/static/img/sbori/fotka3.jpg"><img src="/static/img/sbori/fotka3.jpg" width="144" height="96"></a>

  <a href="/static/img/sbori/fotka4.jpg"><img src="/static/img/sbori/fotka4.jpg" width="144" height="96"></a>
  <a href="/static/img/sbori/fotka5.jpg"><img src="/static/img/sbori/fotka5.jpg" width="144" height="96"></a>







 
 
</div>


				</div>
				</div>

				
						</div>
			</div>
		</div>
				<div data-id="0f0f93c" class="elementor-element elementor-element-0f0f93c elementor-column elementor-col-66 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="e80dafe" class="elementor-element elementor-element-e80dafe elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">

			<div style="margin-bottom:170px;"  class="elementor-widget-container text_treni">


			<h1 style="color: white; font-size: 20px; " class="elementor-heading-title elementor-size-default">Летние сборы</h1>		<p></p><p style="color: white;">Наш центр ежегодно проводит летние сборы, в план тренировочного лагеря входят
двухразовые тренировки на льду, тренировки на земле и восстановительные тренировки
(бассейн, Флорбол). Сборы проводятся в июне месяце запись открывается с января. Возрастной
лимит лагеря дети от 6 до 16 лет. Тренировки проводятся поднаблюдением 6 тренеров, что
позволяет отслеживать качество выполняемых упражнений. Цена летних сборов за одну неделю
21000 тыс.руб</p></div>



					<div class="elementor-text-editor elementor-clearfix"></div>
				</div>
				</div>
				<div data-id="182edd7" class="elementor-element elementor-element-182edd7 elementor-align-left elementor-widget elementor-widget-button" data-element_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">

			
		</div>

				</div>
				<hr style="margin-bottom: 5px;">

				</div>

						</div>

			</div>

		</div>

						</div>
			</div>
			

		</section>



		<section data-id="1da06ef" class="elementor-element elementor-element-1da06ef elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
					<div class="elementor-widget-container">
			<h1 class="elementor-heading-title elementor-size-default" style="color: white; text-align: center; font-size: 30px;"></h1>		<p></p></div>

			<div class="elementor-container elementor-column-gap-default">


				<div class="elementor-row">
				<div data-id="296352a" class="elementor-element elementor-element-296352a elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">

						<div  data-id="a4297a0" class="elementor-row elementor-element elementor-element-a4297a0 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				
				<iframe style=" width: 33%; height: 250px;padding-right: 5px;" class="elementor-video-iframe" allowfullscreen src="https://www.youtube.com/embed/tkV-CYrVGNo?feature=oembed&amp;start&amp;end&amp;wmode=opaque&amp;loop=0&amp;controls=1&amp;mute=0&amp;showinfo=1&amp;rel=0&amp;modestbranding=0"></iframe>
				<iframe style=" width: 33%; height: 250px; padding-right:5px;" class="elementor-video-iframe" allowfullscreen src="https://www.youtube.com/embed/f5mTICr9cU8?feature=oembed&amp;start&amp;end&amp;wmode=opaque&amp;loop=0&amp;controls=1&amp;mute=0&amp;showinfo=1&amp;rel=0&amp;modestbranding=0"></iframe>
				<iframe style=" width: 33%; height: 250px;" class="elementor-video-iframe" allowfullscreen src="https://www.youtube.com/embed/9TayI5ukckg?feature=oembed&amp;start&amp;end&amp;wmode=opaque&amp;loop=0&amp;controls=1&amp;mute=0&amp;showinfo=1&amp;rel=0&amp;modestbranding=0"></iframe>
				</div>
				
				<div data-id="ab8460b" class="elementor-element elementor-element-ab8460b elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>


			
			

				





			
			

						<div class="elementor-container elementor-column-gap-default">


				<div class="elementor-row">
				<div data-id="296352a" class="elementor-element elementor-element-296352a elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="cbb1dca" class="elementor-element elementor-element-cbb1dca elementor-widget elementor-widget-google_maps" data-element_type="google_maps.default">
					

				<div class="elementor-widget-container">
			<div class="elementor-custom-embed"><div  class="elementor-widget-wrap">
				
				


				
						</div>
</div>		</div>
				</div>
				<div data-id="ab8460b" class="elementor-element elementor-element-ab8460b elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>


{% endblock %}