{% extends "base.html" %}

{%block content%}
<section style="padding-top: 30px;" data-id="2e23e7b" class="elementor-element elementor-element-2e23e7b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">


						<div class="elementor-container elementor-column-gap-default">

				

				<div class="elementor-row">
					
				<div data-id="b9a7c31" class="elementor-element elementor-element-b9a7c31 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">


			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="29c7a2c" class="elementor-element elementor-element-29c7a2c elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>

		</div>
						</div>
			</div>
		</section>














		<section data-id="b33d351" class="elementor-element elementor-element-b33d351 elementor-section-height-min-height elementor-section-items-bottom elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">

						<div class="elementor-container elementor-column-gap-default">

				<div class="elementor-row">
				<div data-id="cfb723b" class="elementor-element elementor-element-cfb723b elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="a4297a0" class="elementor-element elementor-element-a4297a0 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				<div class="elementor-widget-container">
					<div class="fotorama razmer"
     data-nav="thumbs" data-allowfullscreen="true">



  <a href="/static/img/led/IMG-20190908-WA0005.jpg"><img src="/static/img/led/IMG-20190908-WA0005.jpg" width="144" height="96"></a>
	<a href="/static/img/led/IMG_0156.JPG"><img src="/static/img/led/IMG_0156.JPG" width="144" height="96"></a>
  <a href="/static/img/led/IMG-20190903-WA0006.jpg"><img src="/static/img/led/IMG-20190903-WA0006.jpg" width="144" height="96"></a>

  <a href="https://www.youtube.com/embed/h5mF4KEDMoQ"></a>
  <a href="https://www.youtube.com/embed/sCaYMS3CJjY"></a>
  <a href="/static/img/led/IMG_0139.JPG"><img src="/static/img/led/IMG_0139.JPG" width="144" height="96"></a>
  <a href="/static/img/led/IMG_0138.JPG"><img src="/static/img/led/IMG_0138.JPG" width="144" height="96"></a>
  <a href="/static/img/led/IMG_0149.JPG"><img src="/static/img/led/IMG_0149.JPG" width="144" height="96"></a>
  <a href="/static/img/led/IMG-20190908-WA0006.jpg"><img src="/static/img/led/IMG-20190908-WA0006.jpg" width="144" height="96"></a>
 
</div>


				</div>
				</div>

				
						</div>
			</div>
		</div>
				<div data-id="0f0f93c" class="elementor-element elementor-element-0f0f93c elementor-column elementor-col-66 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="e80dafe" class="elementor-element elementor-element-e80dafe elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">

			<div style="margin-bottom:205px;"  class="elementor-widget-container text_treni">


			<h1 style="color: white; font-size: 20px; " class="elementor-heading-title elementor-size-default">Тренировки на льду</h1>		<p></p><p style="color: white;">Занятия на льду проводятся как индивидуально так и в мини
группах до 5 человек. План тренировки составляется индивидуально для каждого
хоккеиста или группы хоккеистов. На льду вы можете улучшать технику владения шайбой,
технику катания, передачи и реализацию игровых моментов.</p></div>



					<div class="elementor-text-editor elementor-clearfix"></div>
				</div>
				</div>
				<div data-id="182edd7" class="elementor-element elementor-element-182edd7 elementor-align-left elementor-widget elementor-widget-button" data-element_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">

			
		</div>

				</div>
				<hr style="margin-bottom: 5px;">

				</div>

						</div>

			</div>

		</div>

						</div>
			</div>
			

		</section>


<section style="padding-top: 30px;" data-id="2e23e7b" class="elementor-element elementor-element-2e23e7b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">


						<div class="elementor-container elementor-column-gap-default">

				

				<div class="elementor-row">
					
				<div data-id="b9a7c31" class="elementor-element elementor-element-b9a7c31 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">


			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="29c7a2c" class="elementor-element elementor-element-29c7a2c elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>

		</div>
						</div>
			</div>
		</section>

		



<section data-id="b33d351" class="elementor-element elementor-element-b33d351 elementor-section-height-min-height elementor-section-items-bottom elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">

						<div class="elementor-container elementor-column-gap-default">

				<div class="elementor-row">
				<div data-id="cfb723b" class="elementor-element elementor-element-cfb723b elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="a4297a0" class="elementor-element elementor-element-a4297a0 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				<div class="elementor-widget-container">
					<div class="fotorama razmer"
     data-nav="thumbs" data-allowfullscreen="true">

  <a href="/static/img/rapidshot/22222222.jpg"><img src="/static/img/rapidshot/22222222.jpg" width="144" height="96"></a>
  <a href="/static/img/rapidshot/IMG_0110(1).JPG"><img src="/static/img/rapidshot/IMG_0110(1).JPG" width="144" height="96"></a>
  <a href="/static/img/rapidshot/IMG_0115.JPG"><img src="/static/img/rapidshot/IMG_0115.JPG" width="144" height="96"></a>
  <a href="https://www.youtube.com/embed/9t5TT-Q0-SM"></a>
  <a href="https://www.youtube.com/embed/pro0IH5gqE0"></a>

  
  <a href="/static/img/rapidshot/IMG_0111(1).JPG"><img src="/static/img/rapidshot/IMG_0111(1).JPG" width="144" height="96"></a>
  <a href="/static/img/rapidshot/IMG-20190909-WA0004.jpg"><img src="/static/img/rapidshot/IMG-20190909-WA0004.jpg" width="144" height="96"></a>
  <a href="/static/img/rapidshot/IMG-20190908-WA0013.jpg"><img src="/static/img/rapidshot/IMG-20190908-WA0013.jpg" width="144" height="96"></a>
  <a href="/static/img/rapidshot/IMG-20190908-WA0016.jpg"><img src="/static/img/rapidshot/IMG-20190908-WA0016.jpg" width="144" height="96"></a>
  <a href="/static/img/rapidshot/IMG-20190908-WA0015.jpg"><img src="/static/img/rapidshot/IMG-20190908-WA0015.jpg" width="144" height="96"></a>


	IMG-20190909-WA0004.jpg
</div>
				</div>
				</div>

				
						</div>
			</div>
		</div>
				<div data-id="0f0f93c" class="elementor-element elementor-element-0f0f93c elementor-column elementor-col-66 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="e80dafe" class="elementor-element elementor-element-e80dafe elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">

			<div style="margin-bottom: 250px;"  class="elementor-widget-container">
			<h1 style="color: white; font-size: 20px;" class="elementor-heading-title elementor-size-default">Rapidshot</h1>		<p></p><p style="color: white;">Тренажер предназначенный для отработки техники, силы и точности
броска. Широко используется в северной америке клубами нхл и в другихевропейских
странах. План тренировки составляется индивидуально под каждого хоккеиста, занятие
проводится под наблюдением тренера.</p></div>
					<div class="elementor-text-editor elementor-clearfix"></div>
				</div>
				</div>
				<div data-id="182edd7" class="elementor-element elementor-element-182edd7 elementor-align-left elementor-widget elementor-widget-button" data-element_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			
		</div>
				</div>
				<hr style="margin-bottom: 5px;">
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>




<section style="padding-top: 30px;" data-id="2e23e7b" class="elementor-element elementor-element-2e23e7b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">


						<div class="elementor-container elementor-column-gap-default">

				

				<div class="elementor-row">
					
				<div data-id="b9a7c31" class="elementor-element elementor-element-b9a7c31 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">


			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="29c7a2c" class="elementor-element elementor-element-29c7a2c elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>

		</div>
						</div>
			</div>
		</section>


<section data-id="b33d351" class="elementor-element elementor-element-b33d351 elementor-section-height-min-height elementor-section-items-bottom elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">

						<div class="elementor-container elementor-column-gap-default">

				<div class="elementor-row">
				<div data-id="cfb723b" class="elementor-element elementor-element-cfb723b elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="a4297a0" class="elementor-element elementor-element-a4297a0 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				<div class="elementor-widget-container">
					<div class="fotorama razmer"
     data-nav="thumbs" data-allowfullscreen="true">

  <a href="/static/img/dorojka/IMG_0066.JPG"><img src="/static/img/dorojka/IMG_0066.JPG" width="144" height="96"></a>
  <a href="/static/img/dorojka/IMG_0119 1.JPG"><img src="/static/img/dorojka/IMG_0119 1.JPG" width="144" height="96"></a>
  <a href="/static/img/dorojka/IMG_0117(2).JPG"><img src="/static/img/dorojka/IMG_0117(2).JPG" width="144" height="96"></a>
  <a href="/static/img/dorojka/1568268007264.jpg"><img src="/static/img/dorojka/1568268007264.jpg" width="144" height="96"></a>
 
  <a href="/static/img/dorojka/IMG-20190910-WA0012.jpg"><img src="/static/img/dorojka/IMG-20190910-WA0012.jpg" width="144" height="96"></a>
  <a href="/static/img/dorojka/IMG_0117(2).JPG"><img src="/static/img/dorojka/IMG_0117(2).JPG" width="144" height="96"></a>

  


	IMG-20190909-WA0004.jpg
</div>
				</div>
				</div>

				
						</div>
			</div>
		</div>
				<div data-id="0f0f93c" class="elementor-element elementor-element-0f0f93c elementor-column elementor-col-66 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="e80dafe" class="elementor-element elementor-element-e80dafe elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">

			<div style="margin-bottom: 178px;"  class="elementor-widget-container">
			<h1 style="color: white; font-size: 20px;" class="elementor-heading-title elementor-size-default">Хоккейная беговая дорожка</h1>		<p></p><p style="color: white;">Хоккейная беговая дорожка ГЕНЕРАЛХОККЕЙ- тренажер предназначен для
отработки техники катания вне ледовой площадки. Основные направления работы на
тренажеры: скорость, правильная посадка, выносливость, укрепление мыщц ног и
реабилитация после травм.</p></div>
					<div class="elementor-text-editor elementor-clearfix"></div>
				</div>
				</div>
				<div data-id="182edd7" class="elementor-element elementor-element-182edd7 elementor-align-left elementor-widget elementor-widget-button" data-element_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			
		</div>
				</div>
				<hr style="margin-bottom: 5px;">
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>


<section style="padding-top: 30px;" data-id="2e23e7b" class="elementor-element elementor-element-2e23e7b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">


						<div class="elementor-container elementor-column-gap-default">

				

				<div class="elementor-row">
					
				<div data-id="b9a7c31" class="elementor-element elementor-element-b9a7c31 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">


			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="29c7a2c" class="elementor-element elementor-element-29c7a2c elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>

		</div>
						</div>
			</div>
		</section>




<section data-id="b33d351" class="elementor-element elementor-element-b33d351 elementor-section-height-min-height elementor-section-items-bottom elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">

						<div class="elementor-container elementor-column-gap-default">

				<div class="elementor-row">
				<div data-id="cfb723b" class="elementor-element elementor-element-cfb723b elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="a4297a0" class="elementor-element elementor-element-a4297a0 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				<div class="elementor-widget-container">
					<div class="fotorama razmer"
     data-nav="thumbs" data-allowfullscreen="true">

  <a href="/static/img/ofp/IMG_0135.JPG"><img src="/static/img/ofp/IMG_0135.JPG" width="144" height="96"></a>
  <a href="/static/img/ofp/IMG-20190908-WA0011.jpg"><img src="/static/img/ofp/IMG-20190908-WA0011.jpg" width="144" height="96"></a>
	<a href="https://www.youtube.com/embed/q5jXXVOOC6I"></a>
  <a href="/static/img/ofp/IMG-20190908-WA0010.jpg"><img src="/static/img/ofp/IMG-20190908-WA0010.jpg" width="144" height="96"></a>
  <a href="/static/img/ofp/IMG-20190908-WA0008.jpg"><img src="/static/img/ofp/IMG-20190908-WA0008.jpg" width="144" height="96"></a>
  <a href="/static/img/ofp/IMG-20190908-WA0012.jpg"><img src="/static/img/ofp/IMG-20190908-WA0012.jpg" width="144" height="96"></a>
  <a href="/static/img/ofp/IMG_0135.JPG"><img src="/static/img/ofp/IMG_0135.JPG" width="144" height="96"></a>

  
  


	IMG-20190909-WA0004.jpg
</div>
				</div>
				</div>

				
						</div>
			</div>
		</div>
				<div data-id="0f0f93c" class="elementor-element elementor-element-0f0f93c elementor-column elementor-col-66 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="e80dafe" class="elementor-element elementor-element-e80dafe elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">

			<div style="margin-bottom: 210px;"  class="elementor-widget-container">
			<h1 style="color: white; font-size: 20px;" class="elementor-heading-title elementor-size-default">Зона ОФП</h1>		<p></p><p style="color: white;">Тренировки в зоне ОФП ведутся для развития основных качеств
физической подготовки хоккеистов: сила, гибкость, координация, скорость и ловкость.</p></div>
					<div class="elementor-text-editor elementor-clearfix"></div>
				</div>
				</div>
				<div data-id="182edd7" class="elementor-element elementor-element-182edd7 elementor-align-left elementor-widget elementor-widget-button" data-element_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			
		</div>
				</div>
				
								</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>








{% endblock %}