
{% extends "base.html" %}

{%block content%}
<section style="background-color: white;" data-id="e7bf1a6" class="elementor-element elementor-element-e7bf1a6 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="062118e" class="elementor-element elementor-element-062118e elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="c5a8edf" class="elementor-element elementor-element-c5a8edf elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h1 style="color:black; font-size: 20px;" class="elementor-heading-title elementor-size-default color_text">Тумба прыжковая</h1>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>




		<div class="elementor elementor-18">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							
				
				<section data-id="ad1c7b6" class="elementor-element elementor-element-ad1c7b6 elementor-section-height-min-height elementor-section-items-top elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">


					<div id="content" class="site-content">

		<div class="ast-container">

				<div class="elementor elementor-2">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							<section data-id="f5cecb7" class="elementor-element elementor-element-f5cecb7 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="77b6781" class="elementor-element elementor-element-77b6781 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			
		</div>
						</div>
			</div>
		</section>
			
				<section data-id="8609cd5" class="elementor-element elementor-element-8609cd5 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="263dad1" class="elementor-element elementor-element-263dad1 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section data-id="e3ad70a" class="elementor-element elementor-element-e3ad70a elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="4c4c614" class="elementor-element elementor-element-4c4c614 elementor-column elementor-col-50 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="a2d0188" class="elementor-element elementor-element-a2d0188 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				
					<div class="fotorama razmer"
     data-nav="thumbs" data-allowfullscreen="true">

  <a href="/static/img/tumba/IMG-20190908-WA0023.jpg"><img src="/static/img/tumba/IMG-20190908-WA0023.jpg" width="144" height="96"></a>
  <a href="/static/img/tumba/IMG-20190910-WA0002.jpg"><img src="/static/img/tumba/IMG-20190910-WA0002.jpg" width="144" height="96"></a>
  <a href="/static/img/tumba/1568268007264.jpg"><img src="/static/img/dorojka/tumba.jpg" width="144" height="96"></a>
  <a href="/static/img/tumba/1568268007651.jpg"><img src="/static/img/dorojka/tumba.jpg" width="144" height="96"></a>
  <a href="/static/img/tumba/IMG-20190908-WA0017.jpg"><img src="/static/img/tumba/IMG-20190908-WA0017.jpg" width="144" height="96"></a>
  
 
	
</div>
					
				
				</div>
						</div>
			</div>
		</div>
				<div data-id="65137bf" class="elementor-element elementor-element-65137bf elementor-column elementor-col-50 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="e2542d0" class="elementor-element elementor-element-e2542d0 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div style="font-size: 20px" class="elementor-text-editor elementor-clearfix"><p>Тумба прыжковая 3 шт. Предназначена для различных упражнений на укрепление
мышц и развитие скоростно-силовых качеств хоккеиста. Цена 10900 руб</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<div data-id="e97072a" class="elementor-element elementor-element-e97072a elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div data-id="e620659" class="elementor-element elementor-element-e620659 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p></p></div>
				</div>
				</div>
				<div data-id="27b68ee" class="elementor-element elementor-element-27b68ee elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
		{% endblock %}